@{
    // Establece el título de la página, que será "Privacy Policy 69".
    // Este título se mostrará en el navegador (etiqueta <title>) y se puede utilizar en otras partes de la vista o diseño principal (_Layout.cshtml).
    ViewData["Title"] = "Privacy Policy 69";
}

<!--Muestra el título de la página en un encabezado nivel 1 (h1).-->
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
